.myPost{
    height: 500px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.capPost{
    display: flex;
    justify-content: end;
}
.postBlock{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    height: 500px;
    width: 550px;
}

.addButton{
    border: none;
    background: none;
    cursor: pointer;
}

.addIcon img{
    height: 18px;
    width: 18px;
}

.textAreaBlock{
    display: flex;
    height: 100%;
    width: 600px;
    overflow-y: scroll;
    box-sizing: border-box;
    flex-direction: column;
}

.postTextarea{
    width: 500px;
    height: 50px;
   resize: none;
}
.textPost{
    display: flex;
    width: 550px;
    justify-content: space-between;
}
@media screen and (max-width: 1200px){
    .postBlock{
        height: 390px;
    }
}

@media screen and (max-width: 768px){
    .myPost,.textAreaBlock,.textPost{
        width: 390px;
    }

}

@media screen and (max-width: 480px){
    .myPost,.textAreaBlock,.textPost{
        width: 300px;
    }

}